body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

#showsTitle {
    text-align: center;
    color: #333; /* You can change the color to fit your design */
    margin-bottom: 20px; /* Adds some space between the title and the table */
}

table {
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    width: 25%;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: black;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}